<%- contentFor('page') %>

<div class="gen-container">
<% if (locals.user) { %>
<% if (files && files.length) { %>
    <p>There are <%= files.length %> files.</p>
<% } else { %>
<h2>There are no files.</h2>
<% } %>
<% } else { %>
<p>Access denied</p>
<% } %>
<div style="display: flex; padding-left: 15px;">
    <a href="files/upload" class="folder-link"><img height="30px" src="/images/add_file.png" alt="add file icon" title="upload file"></a>
    </div>
</div>
<%- include('./partials/back-link') %>

