<%- contentFor('page') %>

<% if (locals.user) { %>
<h2>Welcome back <span style="color: crimson"><%= user.username %></span></h2>
<% } else { %>
<form method="post">
  <div class="form-group">
    <label for="email">E-mail:</label>
    <input
      type="email"
      autocomplete="email"
      class="form-control"
      name="email"
      id="email"
      required
    />
    <label for="password">Password:</label>
    <input
      type="password"
      autocomplete="current-password"
      class="form-control"
      name="password"
      id="password"
      required
    />
    <button class="form-submit" type="submit">Log in</button>
  </div>
</form>
<% if (locals.errors) { %>
<ul class="error-list">
  <li><%= errors %></li>
</ul>
<% } %>
<% } %>
