:root {
  --main-font-color: white;
  --main-bg-color: black;
  --myBlue: blue;
  font-family: 'Quicksand', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}
#content {
  display: grid;
  grid-template-rows: 100px auto 50px;
  min-height: 100%;
}
a {
  font-weight: bolder;
  color: var(--myBlue);
  transition: all ease-in-out 0.5s;
  text-decoration: none;
}
a:hover,
a:focus {
  color: red;
  outline: none;
  text-decoration: underline;
}
header {
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  padding: 0 25px;
  border-bottom: 5px solid gray;
}
header a {
  color: white;
}
main {
  padding: 25px;
}
nav {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  border-bottom: 1px solid gray;
}
nav a {
  padding: 15px;
}
#dynamic-page {
  padding: 25px;
}
#dynamic-title::before {
  content: '> ';
}
#dynamic-title {
  font-size: medium;
}
#dynamic-title::after {
  content: ' >';
}
form {
  display: flex;
  flex-direction: column;
}
.form-group,
.gen-container {
  max-width: 900px;
  border: 1px solid black;
  box-shadow: 0px 5px 10px 0px black;
  border-radius: 10px;
  padding: 15px;
}
.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 0.8rem;
}
.form-control:hover,
.form-control:focus {
  border: 2px solid var(--myBlue);
  outline: none;
}
input + .help {
  display: none;
}
input:focus + .help {
  display: block;
}
input:user-invalid {
  border-color: red;
}
input:valid {
  border-color: green;
}

.form-submit {
  min-height: 30px;
  min-width: 80px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--myBlue);
}
.form-submit:hover,
.form-submit:focus {
  color: green;
  border-color: green;
  outline: none;
}

footer {
  display: flex;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  padding: 0 25px;
  border-top: 5px solid gray;
}
footer a {
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo {
  height: 25px;
  filter: invert() contrast(200%);
}

.errors-list {
  color: red;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors-list li,
.gen-container p {
  width: 100%;
  max-width: 900px;
}
.sorry_gif {
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
}

.pulse:hover {
  animation: pulse ease-in-out 2.75s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
